<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Сообщение об альтернативной плате</title>
  </head>
  <body>
    <h2>Уважаемый(ая) {{ recipient_name }},</h2>

    <p>
      Благодарим вас за ваш запрос на выдачу программируемой платы. К сожалению,
      мы не можем выполнить ваш запрос, так как требуемая плата отсутствует.
    </p>

    <p>Однако, мы можем предложить вам альтернативный вариант платы: <b>{{ alternative }}</b> </p>

    <p>
      Пожалуйста, обратитесь к {{ contact_person }} для получения дополнительной
      информации и выбора альтернативной платы.
    </p>

    <p>
      С уважением,<br />
      {{ your_name }}
    </p>
  </body>
</html>
