<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Одобрение запроса на выдачу программируемой платы</title>
  </head>
  <body>
    <h2>Уважаемый(ая) {{ recipient_name }},</h2>

    <p>
      Спасибо за ваш запрос на выдачу программируемой платы. Мы рады сообщить
      вам, что ваш запрос одобрен. Ваши детали запроса приведены ниже:
    </p>

    <ul>
      <li>Кабинет: {{ location }}</li>
      <li>Дата выдачи: {{ issue_date }}</li>
      <li>Дата возврата: {{ return_date }}</li>
    </ul>

    <p>Выданная программируемая плата: <b>{{ hardware }}</b></p>

    <p>
      Пожалуйста, обратитесь к {{ contact_person }} для получения платы и более
      подробных инструкций.
    </p>

    <p>
      С уважением,<br />
      {{ your_name }}
    </p>
  </body>
</html>