<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ошибка при работе с базой данных</title>
  </head>
  <body>
    <h2>Уважаемый(ая) {{ recipient_name }},</h2>

    <p>
      Мы получили ваш запрос на выдачу программируемой платы. К сожалению,
      он не был обработан из-за проблемы, возникшей при работе с базой данных.
    </p>

    <p>
      Пожалуйста, обратитесь к {{ contact_person }} для получения дополнительной
      информации.
    </p>

    <p>
      С уважением,<br />
      {{ your_name }}
    </p>
  </body>
</html>
