<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Отказ в запросе на выдачу программируемой платы</title>
  </head>
  <body>
    <h2>Уважаемый(ая) {{ recipient_name }},</h2>

    <p>
      Благодарим вас за ваш запрос на выдачу программируемой платы - {{ hardware
      }} в количестве {{ quantity }} штук. К сожалению, мы не можем выполнить ваш
      запрос ввиду отсутствия нужной платы и ее альтернатив.
    </p>

    <p>
      Пожалуйста, обратитесь к {{ contact_person }} для получения дополнительной
      информации и возможных альтернативных вариантов.
    </p>

    <p>
      С уважением,<br />
      {{ your_name }}
    </p>
  </body>
</html>
