<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Аудитория не существует</title>
  </head>
  <body>
    <h2>Уважаемый(ая) {{ recipient_name }},</h2>

    <p>
      Мы получили ваш запрос на выдачу программируемой платы. К сожалению,
      указанная вами аудитория не существует.
    </p>

    <p>
      Пожалуйста, проверьте правильность указания аудитории и повторите запрос.
    </p>

    <p>
      Пожалуйста, обратитесь к {{ contact_person }} для получения дополнительной
      информации.
    </p>

    <p>
      С уважением,<br />
      {{ your_name }}
    </p>
  </body>
</html>
